/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
  --nutmeg-color: hsl(14, 45%, 36%);
  --dark-rasbperry-color: hsl(332, 51%, 32%);
  --white-color: hsl(0, 0%, 100%);
  --rose-white-color: hsl(330, 100%, 98%);
  --eggshell-color: hsl(30, 54%, 90%);
  --light-grey-color: hsl(30, 18%, 87%);
  --wenge-brown-color:  hsl(30, 10%, 34%);
  --dark-charcoal-color: hsl(24, 5%, 18%);
  --main-border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--eggshell-color);
}

h1, h2 {
  font-family: 'Young Serif', serif;
}

.break-line {
  border: none;
  border-top: 1px solid var(--light-grey-color);
}

.section {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section__heading {
  color: var(--nutmeg-color);
  font-weight: 400;
  font-size: 26px;
  margin-bottom: 10px;
}

.section__list {
  margin-left: 25px;
  color: var(--wenge-brown-color);
}
.list__item {
  padding-left: 10px;
}
.list__item:not(:last-child) {
  margin-bottom: 10px;
}
.item__title  {
  margin-right: 4px;
}

.container {
  width: 80%;
  max-width: 700px;
  margin: 30px auto;
  background-color: var(--white-color);
  padding: 20px;
  border-radius: var(--main-border-radius);
}

.dish-preview__img {
  width: 100%;
  border-radius: var(--main-border-radius);
}

.dish-info-section__heading {
  color: var(--dark-charcoal-color);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
}

.section__description {
  color: var(--wenge-brown-color);
}

.preparation-time-section {
  background-color: var(--rose-white-color);
  padding: 20px;
  border-radius: var(--main-border-radius);
}

.preparation-time-section__heading {
  color: var(--dark-rasbperry-color);
  margin-bottom: 10px;
}

.preparation-time-section__list--item::marker {
  color: var(--dark-rasbperry-color);
}

.ingredients-section__list {
  color: var(--wenge-brown-color);
}

.instructions-section__list {
  line-height: 1.5;
}
.instructions-section .list__item::marker,
.ingredients-section .list__item::marker {
  color: var(--nutmeg-color);
  font-weight: 600;
}

.nutrition-section {
  margin-bottom: 0;
}

.nutrition-section__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table__row:not(:last-child) {
  border-bottom: 1px solid var(--light-grey-color);
}

.table-row__data {
  width: 50%;
}

.table-row__name {
  padding: 10px 0 10px 20px;
  color: var(--wenge-brown-color);
}

.table-row__value {
  padding: 10px 0;
  color: var(--nutmeg-color);
  font-weight: 600;
}

@media (max-width: 768px) {
  :root {
    --main-border-radius: 0;
  }
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .section {
    margin-left: 30px;
    margin-right: 30px;
  }
  .preparation-time-section {
    border-radius: 10px;
  }

  .break-line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}