
assets/imgs/favicon-32x32.png
css/style.css
data.json
index.html
initial-files/index.html
initial-files/css/style.css
js/script.js
json-builder.py
initial-files/index.html
initial-files/css/style.css
