/assets
/css
/js
/data.json
/index.html
/json-builder.py
/README.md
/solutions/rest-countries-api-with-color-theme-switcher/rest-countries-api-with-color-theme-switcher-master
solutions/rest-countries-api-with-color-theme-switcher/rest-countries-api-with-color-theme-switcher.zip
