/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --cyan-color: hsl(179, 62%, 43%);
  --bright-yellow-color: hsl(71, 73%, 54%);
  --light-gray-color: hsl(204, 43%, 93%);
  --grayish-blue-color: hsl(218, 22%, 67%);
  --white-color: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: var(--light-gray-color);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component {
  max-width: 750px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 1px 20px rgba(116, 116, 116, 0.178);
}

.part {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.part-join {
  background-color: var(--white-color);
  grid-area: 1 / 1 / 2 / 3;
  border-radius: 4px 4px 0 0;
}

.join__heading {
  color: var(--cyan-color);
}
.join__title {
  color: var(--bright-yellow-color);
}
.join__description {
  color: var(--grayish-blue-color);
}

.part-subscribtion {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  gap: 20px;
  background-color: var(--cyan-color);
  border-end-start-radius: 4px;
}

.part__price {
  display: flex;
  align-items: center;
  gap: 10px;
}
.price__number {
  font-size: 40px;
}
.price__text {
  color: var(--light-gray-color);
}

.part-whyus {
  background-color: hsl(179, 63%, 46%);
  color: var(--white-color);
  border-end-end-radius: 4px;
}
.whyus-description {
  width: 70%;
  line-height: 1.6;
  color: var(--light-gray-color);
}

.part__btn {
  background-color: var(--bright-yellow-color);
  color: var(--white-color);
  width: 100%;
  padding: 16px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  box-shadow: 0px 1px 10px rgba(116, 116, 116, 0.448);
  cursor: pointer;
}
.part__btn:hover {
  opacity: 0.9;
}
.part__btn:active {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .component {
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .part {
    grid-area: unset;
  }
  .part-subscribtion {
    border-end-start-radius: 0;
  }
  .part-whyus {
    border-end-end-radius: 4px;
    border-end-start-radius: 4px;
  }
}