/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --soft-blue-color: hsl(231, 69%, 60%);
  --soft-red-color: hsl(0, 94%, 66%);
  --grayish-blue-color: hsl(229, 8%, 60%);
  --very-dark-blue-color: hsl(229, 31%, 21%);
  --white-color: hsl(0, 0%, 100%);
  --main-transition-time: 0.2s;
  --main-border-radius: 4px;
} 
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
/* Start Global Rules */
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.hover-active-opacity:hover {
  opacity: 0.9;
}
.hover-active-opacity:active {
  opacity: 0.8;
}

.section__heading {
  color: var(--very-dark-blue-color);
  text-align: center;
  font-size: 30px;
}
.section__description {
  color: var(--grayish-blue-color);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* End Global Rules */

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header__container {
  height: 80px;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-img {
  width: 160px;
}

.header__nav-menu-btn {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 35px;
}
.header__nav-menu-top {
  display: none;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__nav-link {
  color: var(--grayish-blue-color);
  transition: var(--main-transition-time);
  font-weight: 500;
}
.header__nav-link:hover {
  color: var(--soft-red-color);
}

.header__nav-logo-link {
  background-color: var(--soft-red-color);
  padding: 10px 30px;
  color: var(--white-color);
  border-radius: var(--main-border-radius);
  border: 2px solid var(--soft-red-color);
  /* transition: all var(--main-transition-time), outline 0s; */
}
.header__nav-logo-link:hover {
  background-color: var(--white-color);
  color: var(--soft-red-color);
}

.header__nav-menu-social-list {
  display: none;
}

@media (max-width: 768px) {
  /* Open & Close Header Menu */
  .header__menu-nav--open .header__logo {
    visibility: hidden;
  }
  .header__menu-nav--open .header__nav-menu-btn {
    visibility: hidden;
  }
  .header__menu-nav--open .header__nav-menu {
    display: block;
  }

  .header__nav-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hsla(229, 31%, 21%, 0.685);
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .header__nav-menu-btn {
    display: block;
  }
  .header__nav-menu-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-menu-top-logo {
    width: 180px;
  }
  .header__nav-menu-top-close-btn {
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: var(--white-color);
    
    transition: var(--main-transition-time);
  }
  .header__nav-menu-top-close-btn:hover {
    color: var(--very-dark-blue-color);
  }
  .header__nav-list {
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    gap: 0;
    margin-top: 20px;
  }

  .header__nav-link {
    color: var(--white-color);
    padding: 24px 0;
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--white-color);
  }
  .header__nav-link:hover {
    color: var(--very-dark-blue-color);
  }
  .header__nav-list-item:nth-last-child(2) .header__nav-link {
    border-bottom: 1px solid var(--white-color);
  }
  .header__nav-logo-link {
    display: block;
    width: 100%;
    text-align: center;
    background-color: transparent;
    border: 2px solid var(--white-color);
    padding: 14px 0;
    margin-top: 30px;
    font-weight: 500;
  }
  .header__nav-logo-link:hover {
    color: var(--very-dark-blue-color);
  }

  .header__nav-menu-social-list {
    display: flex;
    position: absolute;
    /* background-color: antiquewhite; */
    left: 0;
    width: 100%;
    justify-content: center;
    gap: 20px;
    bottom: 40px;
  } 
  .header__nav-menu-social-link {
    color: var(--white-color);
    font-size: 30px;
  }
  .header__nav-menu-social-link:hover {
    color: var(--very-dark-blue-color);
  }
}
/* End Header */

/* Start Main Section */
.main-section__container {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 80px);
}
.main-section__text,
.main-section__image {
  width: 50%;
}

.main-section__heading {
  color: var(--very-dark-blue-color);
  font-size: 40px;
}
.main-section__description {
  color: var(--grayish-blue-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.main-section__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-section__btn {
  padding: 14px 30px;
  background-color: transparent;
  border: none;
  font-weight: 500;
  box-shadow: 0px 0px 10px #c7c7c7;
  border-radius: 4px;
  font-size: 14px;
}
.main-section__btn-chrome {
  background-color: var(--soft-blue-color);
  color: var(--white-color);
}
.main-section__btn-firefox {
  background-color: var(--white-color);
  color: var(--grayish-blue-color);
}

.main-section__image {
  position: relative;
}
.main-section__hero-img {
  width: 100%;
}

@media (max-width: 970px) {
  .main-section__container {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 20px;
    gap: 40px;
  }
  .main-section__text,
  .main-section__image {
    width: 100%;
  }
  .main-section__heading {
    font-size: 30px;
  }
  .main-section__text {
    text-align: center;
  }
  .main-section__btns {
    justify-content: center;
  } 
  .main-section__btn {
    padding: 14px 20px;
  }
}
@media (max-width: 350px) {
  .main-section__btns {
    flex-direction: column;
  }
  .main-section__btn {
    width: 100%;
  }
}
/* End Main Section */

/* Start features-section */
.features-section {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  /* text-align: center; */
}
.features-section__selector {
  display: flex;
  justify-content: center;
}
.features-section__selector-btn {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eee;
  color: var(--grayish-blue-color);
  padding-top: 14px;
  padding-bottom: 14px;
  width: 200px;
  font-weight: 500;
}
.features-section__selector-btn:not(.features-section__selector-btn--active):hover {
  color: hsl(229, 7%, 48%);
}
.features-section__selector-btn:not(.features-section__selector-btn--active):active {
  opacity: 0.8;
}
.features-section__selector-btn--active {
  border-bottom-color: var(--soft-red-color);
  color: var(--very-dark-blue-color);
}
.features__feature {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  display: none;
}
.features__feature--active {
  display: flex;
}
.feature__image,
.feature__text {
  width: 50%;
}
.feature__image {
  position: relative;
}
.feature__image-img {
  width: 100%;
  margin-left: auto;
}
.feature__heading {
  color: var(--very-dark-blue-color);
  font-size: 30px;
}
.feature__description {
  color: var(--grayish-blue-color);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 500px;
  max-width: 100%;
}
.feature__link {
  display: block;
  width: fit-content;
  background-color: var(--soft-blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .features-section__selector {
    flex-direction: column;
  }
  .features-section__selector-btn {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .features-section__selector-btn--active::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--soft-red-color);
    width: 200px;
    top: 100%;
  }
  .features-section__selector-btn--active {
    border-bottom-color: #eee
  }
  .features__feature {
    flex-direction: column;
    gap: 40px;
  }
  .feature__image,
  .feature__text {
    width: 100%;
  }
  .feature__text {
    text-align: center;
  }
  .feature__description {
    width: 100%;
  }
  .feature__link {
    width: 100%;
  }
}
/* End features-section */

/* Start Downlaod Section */
.download-section {
  padding-top: 40px;
}
.download-section__download-options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.download-section__download-option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 0px 10px #dddddd;
}
.download-section__download-option-card-second {
  transform: translateY(30px);
}
.download-section__download-option-card-third {
  transform: translateY(60px);
}
.download-option-card__top,
.download-option-card__bottom {
  padding: 30px 20px 20px;
  width: 100%;
}
.download-option-card__img {
  width: 50%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.download-option-card__browser-name {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--very-dark-blue-color);
}
.download-option-card__version {
  color: var(--grayish-blue-color);
}
.download-option-card__line {
  background-image: url('../assets/imgs/bg-dots.svg');
  background-repeat: repeat-x;
  width: 100%;
  height: 4px;
}
.download-option-card__button {
  display: block;
  width: 100%;
  background-color: var(--soft-blue-color);
  color: var(--white-color);
  padding: 12px 0;
  border-radius: 4px;
  border: 2px solid var(--soft-blue-color);
  cursor: pointer;
  font-weight: 500;
  transition: var(--main-transition-time);
}
.download-option-card__button:hover {
  opacity: 0.9;
  background-color: var(--white-color);
  color: var(--soft-blue-color);
}
.download-option-card__button:active {
  opacity: 0.8;
}

@media (max-width: 970px) {
  .download-section__download-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .download-section__download-option-card-second,
  .download-section__download-option-card-third {
    transform: translateY(0);
  }
  .download-section__download-option-card-third {
    grid-column: 1 / span 2;
  }
}
@media (max-width: 768px) {
  .download-section__heading {
    font-size: 24px;
  }
  .download-section__download-options {
    display: grid;
    grid-template-columns: 1fr;
  }
  .download-section__download-option-card-third {
    grid-column: unset;
  }
}
/* End Downlaod Section */

/* Start Questions Section */
.questions-section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.questions-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.question-container__question {
  width: 100%;
  padding: 20px 14px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  border-top: 1px solid #dbdbdb;
  font-size: 16px;
  font-weight: 500;
}
.question-container__last-question {
  border-bottom: 1px solid #dbdbdb;
}
.question-container__question-icon {
  color: var(--soft-blue-color);
  font-weight: 800;
  transition: 0.3s;
}
.question-container--active .question-container__question-icon {
  color: var(--soft-red-color);
  transform: rotate(180deg);
}
.question-container__question:hover .question-container__question-text {
  color: var(--soft-red-color);
}
.question-container__answer {
  color: var(--grayish-blue-color);
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  transition: margin 0.3s, opacity 0.3s;
  opacity: 0;
  font-size: 0;
  overflow: hidden;
}
.question-container--active .question-container__last-answer {
  margin-top: 14px;
}
.question-container--active .question-container__answer {
  margin-bottom: 14px;
  opacity: 1;
  height: fit-content;
  font-size: 16px;
}

.questions__more-info-link {
  display: block;
  background-color: var(--soft-blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .question-container__question {
    font-size: 15px;
  }
  .question-container--active .question-container__answer {
    font-size: 15px;
  }
}
/* End Questions Section */

/* Start Contact Section */
.contact-section {
  background-color: var(--soft-blue-color);
  color: var(--white-color);
  padding: 40px 0;
  text-align: center;
}
.contact-section__joined {
  font-size: 14px;
}
.contact-section__heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 26px;
}
.contact-section__form {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: 40px;
  gap: 14px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.contact-section__email-field,
.contact-section__contact-btn {
  border-radius: 4px;
  border: none;
}
.contact-section__email-field {
  padding: 0 20px;
  outline-color: var(--grayish-blue-color);
}
.contact-section__email-field::placeholder {
  color: var(--grayish-blue-color);
}
.contact-section__contact-btn {
  background-color: var(--soft-red-color);
  color: var(--white-color);
  font-weight: 600;  
}
.contact-section__contact-btn:hover {
  background-color: hsl(0, 92%, 63%);
}
.contact-section__contact-btn:active {
  background-color: hsl(0, 87%, 59%);
}
@media (max-width: 768px) {
  .contact-section__form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 40px);
  }
  .contact-section__heading {
    font-size: 22px;
  }
}
/* End Contact Section */

/* Start Footer */
.footer {
  background-color: var(--very-dark-blue-color);
  padding: 20px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer__left-side {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__left-link {
  color: var(--grayish-blue-color);
  transition: var(--main-transition-time);
}
.footer__right-side {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__right-link {
  color: var(--white-color);
  font-size: 26px;
  transition: var(--main-transition-time);
}
.footer__left-link:hover,
.footer__right-link:hover {
  color: var(--soft-red-color);
}
@media (max-width: 768px) {
  .footer__left-side {
    flex-direction: column;
    color: var(--white-color);
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}
/* End Footer */